@page "/"
@using GitHub.Service
@inject GitHubService gitHubService

@foreach (var item in gitHubService.GetFoldersAsync("articles").GetAwaiter().GetResult())
    {
        <p>
            @item.Name
        </p>
    }


