@page "/"
@using GitHub.Service
@using BlazorVis.Component
@using BlazorVis.Component.Model
@inject GitHubService gitHubService

<div id="vis-network"></div>

@functions {


    protected override async Task OnAfterRenderAsync()
    {
        // var fileContent = await gitHubService.ReadTextFileAsync("app-service/toc.yml");

        // var toc = BlazorAzureDoc.Client.Utils.Convert.FromYamlToObject(fileContent);

        var nodes = new List<Node>() { new Node() { id = 1, label = "a" }, new Node() { id = 2, label = "b" } };
        var edges = new List<Edge>() { new Edge() { from = 1, to = 2 } };

        await Javascript.LoadVis("vis-network", nodes, edges);
    }

}


