@page "/"
@using GitHub.Service
@inject GitHubService gitHubService

@if (entries == null)
{
    <p><em>Loading...</em></p>
}
else
{

    @foreach (var item in entries)
    {
        <p>
            @item.name
        </p>
    }
}

    @functions {

    IEnumerable<Entry> entries;

protected override async Task OnInitAsync()
{
    entries = await gitHubService.GetFoldersAsync("articles");
}

    }


